@page "/"

<div class="jumbotron">
    <h1 class="display-4">Extron Membership</h1>
    <p class="lead">This is a simple app that allows you to buy membership based on the rules we setup during our session</p>
    <hr class="my-4" />
    <p class="lead">Click <b>Buy</b> to Buy Policies and <b>Listing</b> to view the Membership Listing</p>
</div>